.admin-container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    display: flex;
    flex-direction: column; /* Stacks the header and buttons vertically */
  }
  
  .admin-container h1 {
    text-align: center;
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  .add-btn {
    display: inline-block;
    padding: 10px 20px;
    background: #56d8e4;
    color: black;
    
    font-size: 16px;
    text-decoration: none;
    border-radius: 5px;
    margin-bottom: 20px;
    align-self: flex-end; /* Aligns the button to the end of the container */
  }
  
  .questions-list {
    display: flex;
    flex-wrap: wrap; /* Allows the items to wrap to the next line if needed */
    gap: 20px; /* Adds space between items */
  }
  
  .question-item {
    background: #fff;
    padding: 15px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    border-radius: 5px;
    flex: 1 1 calc(33.333% - 20px); /* Adjust the width to fit three items per row, considering the gap */
    box-sizing: border-box; /* Ensures padding and border are included in the element's total width and height */
  }
  
  .question-text {
    margin-bottom: 10px;
  }
  
  .options p {
    margin: 5px 0;
  }
  
  .actions {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }
  
  .edit-btn,
  .delete-btn {
    background: #56d8e4;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
  }
  
  .delete-btn {
    background: #e74c3c;
  }
  
  .delete-btn:hover,
  .edit-btn:hover {
    opacity: 0.8;
  }
  